body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

/* SOLUTION */

.header {
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-weight: bold;
  font-size: larger;
}

body {
  display: flex;
  flex-direction: column;
}

.medium {
  flex: 1;
  display: flex;
}

.sidebar {
  flex-shrink: 0;
}

.sidebar ul {
  list-style: none;
}

.sidebar a {
  text-decoration: none;
  color: white;
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  width: 300px;
  margin: 10px;
  padding: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}